/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {

    withName: "CLAHE_DASK" {
        ext.args = '--skip_pyramid -c 0 -l 0.01 -p 0.23 --kernel 25'
    }

}
