/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: "PROJECT_SPOTS" {
        memory = "16GB"
    }

    withName: "DEEPCELL_MESMER" {
        memory = "16GB"
        cpus = 8
        ext.args = '--image-mpp 0.138 --nuclear-channel 0 --compartment nuclear'
        containerOptions =  '--entrypoint ""'
        publishDir = [
            path: "${params.outdir}/deepcell",
            pattern: "*.tif",
            saveAs: { filename -> "${meta.id}_mesmer_$filename" }
        ]
    }
    withName: "CELLPOSE" {
        memory = "16GB"
        cpus = 8
        ext.args = '--channel_axis 0 --chan 1 --no_npy --diameter 60 --flow_threshold 0.6'
        containerOptions =  '--entrypoint ""'
        publishDir = [
            path: "${params.outdir}/cellpose",
            pattern: "*_cp_masks.tif",
            saveAs: { filename -> "${meta.id}_cellpose_mask.tif" }
        ]
    }

    withName: "MCQUANT" {
        ext.args = "--intensity_props intensity_sum"
    }

}
